extends header-footer-layout
include comments

block content
  .card
    .card-header 
      =blog.time_posted
      if canDelete
        form.float-end.me-3(action="/blogs/delete", method="post")
          input(type="hidden", value=blog._id, name="blogId")
          input.btn.btn-danger(type="submit", value="Delete")
        form.float-end.me-3(action='/blogs/update/' + blog._id, method="get")
          input.btn.btn-primary(type="submit", value="Update")
    .card-body
      h3.card-title #{blog.title}
      h6.card-subtitle.mb-2.text-muted #{'Posted By: ' + blog.posted_by.username}
    .img
      img.card-img-top(src="/images/blog-banner.jpg", alt="Blog image goes here")
    .card-body
      p= blog.body
    .card-footer
      h5 Comments
      +comments(blog.comments, userId, blog._id)