extends header-footer-layout

block content
  form.col-8(action=formAction, method="post")
    input(type="hidden", name="blogId", value=blogId)
    .mb-3
      label.form-label Title:
      input.form-control(name="title", type="text", value=title)
    .mb-3
      label.form-label Body:
      textarea.form-control(name="body", rows="10")= body
    button.btn.btn-primary(type="submit", value="Post") Post