mixin comments(commentList, userId, blogId)
  form.col-6(action="/comments", method="post")
    input(type="hidden", name="userId", value=userId)
    input(type="hidden", name="blogId", value=blogId)
    .mb-3
      label.form-label New Comment:
      input.form-control(type="text", name="body")
    button.btn.btn-primary.mb-3(type="submit", value="Post") Post
  .list-group
    each comment in commentList
      .list-group-item
        small.text-muted= comment.posted_by.username
        .d-flex.justify-content-between
          =comment.body
          small.badge.bg-primary.rounded-pill #{comment.time_posted}