extends header-footer-layout

block content
  form(action=formAction, method="post")
    label Title:
    input(name="title", type="text")= title
    br
    label Body:
    textarea(name="body", cols="40", rows="30")= body
    br
    input(type="submit", value="Post")