extends header-footer-layout

block content
  h1 #{heading}
  hr
  form.col-3(method='post', action=formAction)
    .mb-3
      label.form-label Username:
      input.form-control(name="username", type="text")
    .mb-3
      label.form-label Password:
      input.form-control(name="password", type="password")
    button.btn.btn-primary(type="submit", value=value)= value